<div class="sticky">
  <p-menubar>
    <ng-template pTemplate="start">
      <div class="flex gap-2 align-items-end">
          <p-chip [style]="{'background': token ? '#03fc98' : '#ffef45'}" [label]="token ? 'Authenticated' : 'Not Authenticated'"></p-chip>
        <form class="flex align-items-end flex-wrap gap-2" (ngSubmit)="login()">
          <div>
            <label for="username">Email</label>
            <input type="text"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              [ngModelOptions]="{standalone: true}" pInputText [(ngModel)]="email" id="username" [value]="email" />
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              [ngModelOptions]="{standalone: true}" pInputText [(ngModel)]="password" id="password" [value]="password" /> 
            </div>
            <div>
              <p-button label="Login" type="submit" class="w-full"></p-button>
          </div>
        </form>
      </div>
    </ng-template>
  </p-menubar>
</div>


@for (endpoint of endpoints; track endpoint) {
<p-accordion class="endpointWrapper p-2" [multiple]="true">
  <p-accordionTab [header]="'[' + endpoint.method + ']' + ': ' + endpoint.name">
    <div class="flex gap-2 flex-column p-2">
      <label [for]="endpoint.name + '_' + endpoint.method">
        Path
      </label>
      <input type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        pInputText [ngModelOptions]="{standalone: true}" [(ngModel)]="endpoint.path" [id]="endpoint.name + '_' + endpoint.method" />
    </div>
    @if (endpoint.body) {
    <div class="flex gap-2 flex-column p-2">
      <h3>Request</h3>
      @for (entry of endpoint.fields; track $index) {
      <div class="field">
        <label [for]="endpoint.name + '_' + endpoint.method + entry.key">
          {{ entry.key }}
        </label>
        @switch (entry.type) {
        @case ('checkbox') {
        <p-checkbox
          class="text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full"
          [binary]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="endpoint.body[entry.key]"
          [id]="endpoint.name + '_' + endpoint.method + entry.key"></p-checkbox>
        }
        @case ('text') {
        <input type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          pInputText [ngModelOptions]="{standalone: true}" [(ngModel)]="endpoint.body[entry.key]" [id]="endpoint.name + '_' + endpoint.method + entry.key" />
        }
        @case ('number') {
        <p-inputNumber
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="endpoint.body[entry.key]"
          [id]="endpoint.name + '_' + endpoint.method + entry.key"></p-inputNumber>
        }

        }

      </div>
      }
    </div>
    }
    <p-button label="Run" size="small" (onClick)="runRoute(endpoint)"></p-button>
    <div>

    </div>

    @if (endpoint?.response) {
    <p-accordion class="responseWrapper" [multiple]="true" styleClass="mt-2">
      <p-accordionTab header="Response" [ariaExpanded]="true">
        <div>
          <pre>{{endpoint?.response | formatJson}}</pre>
        </div>
      </p-accordionTab>
    </p-accordion>
    }

    @if (endpoint?.error) {
    <p-accordion class="errorWrapper" [multiple]="true" styleClass="mt-2">
      <p-accordionTab header="Error" [ariaExpanded]="true">
        <div>
          <pre>{{endpoint?.error | formatJson}}</pre>
        </div>
      </p-accordionTab>
    </p-accordion>
    }
  </p-accordionTab>
</p-accordion>
}